.about-us
  display: flex
  padding-bottom: 180px
  justify-content: space-between
  & .container
    @extend %equal-width-childs-container
    padding-top: 110px
  &__img
    @extend %equal-width-childs-child
    width: 540px
    height: 480px
    margin-right: 80px 
  &__text
    @extend %equal-width-childs-child// this one too
    &-name
      font-family: 'Muller', sans-serif
      font-weight: 700
      font-size: 30px
      color: #7f38bd
      display: block
      margin-bottom: 80px
    &-head 
      margin-bottom: 60px
      font-family: 'Muller', sans-serif
      font-weight: 500
      font-size: 32px
      color: #383d52
      width: 360px
      margin-top: 0px
    &-paragraph
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      margin-bottom: 30px
      color: #5e606a
      margin-top: 0px

